<main>
	<div>
		<input type="text" ng-model="id" placeholder="id">
		<input type="text" ng-model="title" placeholder="title">
		<input type="text" ng-model="description" placeholder="description">
	</div>
	<button ng-click="save()">POST</button>
	<button ng-click="get()">GET</button>
	<button ng-click="getAll()">GET ALL</button>
	<button ng-click="update()">UPDATE</button>
	<button ng-click="delete()">DEELTE</button>
	<ul>
		<li ng-repeat="item in  homeList">
			<span>{{item.title}}</span>
			<span>-</span>
			<span>{{item.description}}</span>
		</li>
	</ul>
</main>