<al-header source="header"></al-header>
<al-footer source="quickMenu"></al-footer>
<al-menu></al-menu>

<main class="tiempoaire">

	<al-carriers source="carriers" ng-model="carrierIndex"></al-carriers>
	<al-montos source="carriers[carrierIndex].montos" ng-model="montoIndex"></al-montos>
	<input type="text" placeholder="000 000 0000">
	<input type="text" placeholder="000 000 0000">

	<div class="footer-bottons-2 main-footer">
		<button class="passive"><i class="fa fa-times fa-2x"></i></button>
		<button class="active"><i class="fa fa-check fa-2x"></i></button>
	</div>

</main>